
@model List<FinishIt.Models.Senator>

<h1>@ViewBag.Title</h1>

<div class="row">
    @foreach (var senator in Model)
    {
    <div class="col-md-6">
        <a asp-area="" asp-controller="UserHome" asp-action="Index">@senator.SenatorName</a>
    </div>
    }
</div>