
@model List<FinishIt.Models.Senator>

<h1>@ViewBag.Title</h1>

<ul>
    @foreach (var senator in Model)
    {
        <li><a asp-area="" asp-controller="UserHome" asp-action="Index">@senator.SenatorName</a></li>
    }
</ul>