@{
    ViewBag.Title = "Hi do i work?";
}
<div class="col-md-6">
    <a asp-controller="FindUrLeader" asp-action="SelectState">Find By State</a>
</div>
<div class="col-md-6">
    <a asp-controller="FindUrLeader" asp-action="SelectParty">Find By Party</a>
</div>