@model ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}


    
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        UserEmail : <input type="text" asp-for="UserEmail" />
        <br />
        <span asp-validation-for="UserEmail"></span>
        <br />
        <input type="submit" value="ForgotPassword" asp-for="UserEmail" />
    </form>

@ViewBag.Msg
