@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LogInViewModel
@section Scripts {
<script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<h2 class="text-center">Login</h2>
<br />
<br />
<div id="LoginForm" class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Account" asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="form-group">
                <label asp-for="UserName"><strong>User Name</strong> :</label> <br />
                <input asp-for="UserName" type="text" class="form-control"/> <br />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"><strong>Password</strong> :</label> <br />
                <input asp-for="Password" type="password" class="form-control"/> <br />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input asp-for="RememberMe" type="checkbox" class="checkbox-inline" />
                <label asp-for="RememberMe"><strong>Remember Me?</strong></label>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>    
            <div class="form-group">
                <input type="submit" value="LogIn" class="btn btn-success" /><br /> <br />
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a> 
            </div>
        </form>
    </div>
</div>